In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("my_csv_file.csv")
df.head()

   Unnamed: 0  LoanID    Product  DailyRate LoanStatus
0           0       1  Product B         45     Active
1           1       2  Product D         45     Active
2           2       3  Product B         45        NaN
3           3       4  Product A         45     Active
4           4       5  Product B         55     Active

In [4]:
df.tail()

      Unnamed: 0  LoanID    Product  DailyRate        LoanStatus
1038        1038    1039  Product B         45  Finished Payment
1039        1039    1040  Product A         45  Finished Payment
1040        1040    1041  Product A         45  Finished Payment
1041        1041    1042  Product B         45  Finished Payment
1042        1042    1043  Product A         45  Finished Payment